<h1>Galeria Portafolio</h1>
<div class="container">
    <h1 class="text-center">PROYECTOS Sixto Cea</h1>
        <div class="row">
                        <div class="col-4">
                <div class="card" style="width: 18rem;">
                <%= image_tag("iguana.png")%>
                    <div class="card-body">
                    <h5 class="card-title">iguana</h5>
                    <p class="card-text">mi proyecto iguana page</p>
                    <a href="#" class="btn btn-primary vermas">Ver más</a>
                    </div>
                </div>
            </div>
                        <div class="col-4">
                <div class="card" style="width: 18rem;">
                <%= image_tag("meet.png")%>
                    <div class="card-body">
                    <h5 class="card-title">meet coffee</h5>
                    <p class="card-text">mi proyecto meet coffee</p>
                    <a href="#" class="btn btn-primary vermas">Ver más</a>
                    </div>
                </div>
            </div>
                        <div class="col-4">
                <div class="card" style="width: 18rem;">
                <%= image_tag("ricomida.png")%>
                    <div class="card-body">
                    <h5 class="card-title">ricomida</h5>
                    <p class="card-text"> mi proyecto ricomida</p>
                    <a href="#" class="btn btn-primary vermas">Ver más</a>
                    </div>
                </div>
            </div>
</div>
</div>